@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900');
//Mixins
$primary-color: #ce1e1e;
$secondary-color: #fea70f;
$grey: #cecece;
$theme-font: 'Montserrat';
$bg-img: url(/img/burger.png);
