.hero {
    background-image: url('https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/65e6a224ada4/assets/img/home/hero_photos/cz8iYo13MpBBGlFLlkA8Sw.jpg');
    background-size: cover;
}

.inlined{
    display: flex;
    justify-content: center;
}

.searchBar{
    margin-left: auto;
    margin-right: auto;
}

.restaurant-list{
    display: flex;
    margin-bottom: 1%;
    .restaurant-list-thumb{
        width: 30%;
        margin-right: 2%;
    }
}

.reviews{
    display: flex;
    margin-bottom: 1%;
    .reviews-image{
        max-width: 7%;
        margin-right: 4%;
    }
}

.logo{
    width: 75px;
}

.container{
    height: 100%;
}

.navbar {
  background-color: white;
  a{
      color:white;
  }
}

.is-grouped{
    margin-top: 2%;
}